@media screen and (max-width: 768px) {
    .header__logo p {
        margin-left: 15px;
    }
    .header__list-item {
        padding-left: 15px;
    }
    .intro {
        background: url(../img/bg-header-768.jpg) center center no-repeat;
        background-size: cover;
        min-height: 100vh; 
    }
    .intro__title,
    .intro__subtitle,
    .intro__button {
        margin-left: 15px;
    }
}